---
import SecondaryLayout from '@/layouts/SecondaryLayout.astro';
import { services } from '@/data';
import { ServiceCard } from '@/components';
---

<SecondaryLayout title="Servicios">
  <section
    id="services"
    class="flex items-center px-6 py-24"
    aria-labelledby="services-heading"
  >
    <div class="mx-auto max-w-7xl">
      <h2
        id="services-heading"
        class="text-3xl font-bold text-center text-gray-800 mb-6"
      >
        Servicios
      </h2>
      <p class="text-center text-gray-600 max-w-3xl mx-auto mb-12 text-lg">
        Ofrecemos soluciones digitales a medida que se adaptan a las necesidades
        de cada cliente.
      </p>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {services.map((s) => <ServiceCard service={s} longDescription />)}
      </div>
    </div>
  </section>
</SecondaryLayout>
