---
import { ContactForm } from '@/components';
---

<section
  id="contact"
  class="py-20 flex items-center px-6"
  aria-labelledby="about-heading"
>
  <div class="max-w-7xl mx-auto py-10">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">
      Contáctanos
    </h1>

    <p class="text-center text-gray-600 max-w-3xl mx-auto mb-12 text-lg">
      ¿Tienes una idea, proyecto o necesitas ayuda con tu desarrollo web?
      Estamos listos para escucharte. Completa el formulario y te responderemos
      lo antes posible.
    </p>

    <div class="max-w-3xl mx-auto bg-white rounded-lg">
      <ContactForm client:visible />
    </div>
  </div>
</section>
