---
const { pageTitle }: { pageTitle?: string } = Astro.props;
---

<header class="sticky top-0 bg-gray-50 shadow z-50">
  <nav
    class="max-w-7xl mx-auto px-4 py-4 flex gap-2 items-center"
    aria-label="Main Navigation"
  >
    <a
      href="/"
      aria-label="Ir a inicio"
      class="text-2xl font-bold text-gray-800 flex items-center gap-2"
    >
      <img
        src="/images/tesseract.webp"
        alt="DarkMatter Studio Icon"
        class="w-10 h-10"
      />
      DarkMatter Studio
    </a>

    {
      pageTitle && (
        <span class="text-lg font-semibold text-gray-600 hidden sm:inline">
          / {pageTitle}
        </span>
      )
    }
  </nav>
</header>
