---
// src/layouts/SecondaryLayout.astro
import '../styles/global.css';
import { SecondaryHeader, SecondaryFooter, Analytics } from '@/components';
const { title }: { title?: string } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>
      {title ? `DarkMatter Studio | ${title}` : 'DarkMatter Studio'}
    </title>
    <meta name="description" content="DarkMatter Studio - Subpágina" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta property="og:title" content="DarkMatter Studio" />
    <meta
      property="og:description"
      content="Explora nuestros servicios y proyectos."
    />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://darkmatter-studio.com" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="DarkMatter Studio" />
    <meta
      name="twitter:description"
      content="Servicios y soluciones web a medida."
    />
    <meta name="twitter:image" content="/og-image.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <Analytics />
  </head>
  <body>
    <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
      <SecondaryHeader pageTitle={title} />

      <main>
        <slot />
      </main>

      <SecondaryFooter />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
</style>
